.wrapper {
    min-width: 390px;
    margin: 0 auto;
    background: #FFFFFF;
    outline: 1px solid red;

}

.advertising {
/* Sign up and get 20% off to your first order. Sign Up Now */

    width: 301px;
    height: 16px;

    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    color: #FFFFFF;
}

.title {
    font-family: 'Integral CF';
    font-size: 30px;
    flex-grow: 1;
    font-weight: 900;
    text-align: 'left';
    margin-left: 20px;
}

.description {
    font-family: 'Satoshi';
    flex-grow: 1;
    font-size: 18px;
    text-align: 'left';
    margin-left: 20px;
}

.btnPrimary {
    width: '358px';
    height: '52px';
    align-content: 'center';
    border-radius: '62px';
    font-weight: 400;
    font-size: '12px';
    margin: '20px 0 20px 20px';
}